/* Whole Website */
html {
  max-width: 100%;
  overflow-x: clip;
  height: 100%;
}
body {
  font-family: "Trocchi", serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: #f5e9e9 !important;
  color: #001217 !important;
  max-width: 100%;
  overflow-x: clip;
}



/* Navbar */
.navbar {
  background: linear-gradient(158deg, rgba(0,151,178,1) 0%, rgb(0, 160, 189) 50%, rgb(0, 213, 255) 100%);
  color: #ffffff;
  padding: 5px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.nav-item-start {
  border-left: solid 2px #fff;
}
.nav-item {
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid 2px #fff;
}
.nav-link {
  /* font-size: 14px !important;
  font-weight: 600; */
  color: #ffffff !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-style: normal;
  font-size: 20px !important;
}


/* Home Image */
.home-container{
  position: relative;
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
}

.home-image{
  display: block;
  width: 100%;
  height: auto;
}
.home-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home-image-text-heading{
  font-family: "Trocchi", serif !important;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 4vw;
  color: white;
  text-shadow: 2px 2px 4px #222 ;
  transform: translateX(0);
  transition: transform 1s ease-out;
  margin-bottom: 0px;
}
.home-image-text-subheading{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 2vw;
  color: white;
  text-shadow: 2px 2px 4px #222;
  transform: translateX(0);
  transition: transform 1s ease-out;
  margin-bottom: 0px;
}
.phone{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 2vw;
  color: white;
  text-shadow: 2px 2px 4px #222;
}
/* Services Home Page */
.services-row{
  padding-top: 30px;
}
.services-column{
  background-color: rgb(214, 218, 219);
  margin: 50px;
}
.services-banner{
  background-color: rgb(214, 218, 219);
  margin: 50px;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.services-heading{
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  color: #0097B2;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800;
}
.services-images{
  padding-top: 30px;
  max-width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.services-para{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding-Top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.bold{
  font-weight: 600;
  color: #005c6d;
}
.services-button{
  margin:0 auto !important;
  display:block !important;
  background-color: #00839a !important;
  color: #fff !important;
  margin-bottom: 50px !important;
}
.services-button a {
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
/* Team Home Page */
.team-row {
  padding-top: 30px;
}
.team-column {
  background-color: rgb(214, 218, 219);
  margin: 0px;
}
.no-padding{
  padding: 0px !important;
}
.img-right{
  display: none;
}
.team-heading {
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
  color: #0097B2;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 800;
}
.team-images {
  max-width: 100%;
  margin: auto;
  display: block;
}
.team-para {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding-Top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.team-button {
  margin:0 auto !important;
  display:block !important;
  background-color: #00839a !important;
  color: #fff !important;
  margin-bottom: 50px !important;
}
.team-button a {
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
/* Why Choose Us */
.choose-column {
  background-color: rgb(214, 218, 219);
  margin: 20px;
}
.choose-para {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding-Top: 30px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
/* Carousel */
/* .carousel-item {
  max-height: 1000px !important;
} */
.dots-button{
  background-color:#0097B2 !important;
}
/* Reviews */
.review-column{
  background-color: rgb(214, 218, 219);
  margin: 50px;
  padding: 0px !important;
}
.review-img{
  width: 100%;
  display: block;
  margin: auto;
}
.services-box-hidden{
  display: none !important;
}
/* Home Containers */
.container-1 {
  background-color: #005c6d;
  color: #ffffff;
}
.home-column-1 {
  justify-content: center;
  text-align: center;
}
/* Walk Box */
#walk-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px;
  margin-bottom: 100px;
}
#walk-button{
  margin-top: auto;
}
/* upcoming */
#upcoming-box{
  margin: 30px;
  margin-bottom: 100px;
}
.circle{
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.circle-text{
  display: inline-block;
  vertical-align: middle;
}
#contact-anchor{
  color: #0097B2;
  text-decoration: none;
}
/* Footer */
.footer-row {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(158deg, rgb(0, 213, 255) 0%, rgb(0, 160, 189) 50%, rgba(0,151,178,1) 100%);
  color: #ffffff;
  padding: 10px;
  position: sticky !important;
  bottom: 0 !important;
}
.footer-left p {
  text-align: left !important;
  margin-bottom: 0px !important;
}
.white {
  color: #fff;
}
.footer-mid {
  text-align: center;
}
#footer-anchor{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
.footer-right p {
  text-align: right !important;
  margin-bottom: 0px !important;
}
.socials {
  padding-left: 20px;
  padding-right: 20px;
}
/* TEST */
.services-box{
  margin-bottom: 50px;
}
.services-box-text {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(158deg, rgba(0,151,178,1) 0%, rgb(0, 160, 189) 50%, rgb(0, 213, 255) 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-box-heading {
  position: relative;
  font-weight: 600;
}
.services-box-para {
  font-size: 22px;
  vertical-align: bottom;
  text-align: right;
  font-style: italic;
}
.services-box-image {
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
  display: flex;
}
.services-image {
  max-width: 100%;
  padding: auto;
}
.services-price {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: rgb(0, 213, 255);
  color: #fff;
  padding: 10px;
  font-size: 1.4vw;  
}
#gmaps{
  margin-bottom: 100px;
}

/* Contact Us */
.flexbox{
  width: 80% !important;
  margin: auto;
}
.contact-row{
  background-color: rgb(214, 218, 219);
  margin: 50px;
}
.toggle-off{
  display: none;
}

@media screen and (max-width: 2320px) {
  .toggle-on{
    display: none !important;
  }
  .toggle-off{
    display: block;
  }
  .team-images{
    max-width: 80%;
  }
  .team-column{
    margin: 10px;
  }
  .choose-para{
    padding: 5px;
  }
}

@media screen and (max-width: 1174px) {
  
  .choose-column{
    margin: 10px
  }
  .review-column{
    margin: 30px;
  }
}

@media screen and (max-width: 1600px) {
  .team-images{
    max-width: 95%;
  }
  .team-column{
    margin: 10px;
  }
  .team-para{
    padding: 10px;
  }
}

@media screen and (max-width: 1198px) {
  .team-images{
    max-width: 50%;
  }
  .team-para{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
  }
  #walk-para{
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .home-image-text-subheading{
    font-weight: 400;
  }
  .phone {
    font-weight: 400;
    font-size: 3vw;
  }
	.team-images {
    height: auto;
  }
  .img-right{
    display: block;
  }
  .img-left{
    display: none;
  }
  .choose-column{
    margin-bottom: 0px;
  }
  .team-para{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .footer-left{
    display: none;
  }
  .footer-right{
    display: none;
  }
  .carousel{
    display: none;
  }
  .services-box-hidden{
    display: block !important;
  }
  .review-column{
    margin: 0px !important;
  }
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,151,178, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  .navbar-toggler{
    border-color: rgb(255, 255, 255, 0.75) !important;
    border-width: 1px !important;
    background-color: #ffffff !important;
  }
  .services-heading{
    font-size: 20px;
  }
}